In [81]:
import pandas as pd

In [82]:
df = pd.read_csv('/content/StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [83]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [84]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [85]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

no null values present,no missing values

In [86]:
new_df = df.drop(columns=['lunch','race/ethnicity'])
new_df

,gender,parental level of education,test preparation course,math score,reading score,writing score
0,female,bachelor's degree,none,72,72,74
1,female,some college,completed,69,90,88
2,female,master's degree,none,90,95,93
3,male,associate's degree,none,47,57,44
4,male,some college,none,76,78,75
...,...,...,...,...,...,...
995,female,master's degree,completed,88,99,95
996,male,high school,none,62,55,55
997,female,high school,completed,59,71,65
998,female,some college,completed,68,78,77
999,female,some college,none,77,86,86

In [87]:
df['gender'].replace({'male':1,'female':0},inplace=True)

In [88]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
cols=["gender","race/ethnicity","parental level of education","lunch","test preparation course","math score","reading score","writing score"]


for col in cols:
    df[col]=le.fit_transform(df[col])
    print(le.classes_)
    df.head(5)

[0 1]
['group A' 'group B' 'group C' 'group D' 'group E']
["associate's degree" "bachelor's degree" 'high school' "master's degree"
 'some college' 'some high school']
['free/reduced' 'standard']
['completed' 'none']
[  0   8  18  19  22  23  24  26  27  28  29  30  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100]
[ 17  23  24  26  28  29  31  32  34  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  99 100]
[ 10  15  19  22  23  27  28  30  32  33  34  35  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100]

In [89]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,1,1,1,1,52,44,50
1,0,2,4,1,0,49,62,64
2,0,1,3,1,1,70,67,69
3,1,0,0,0,1,27,29,20
4,1,2,4,1,1,56,50,51
...,...,...,...,...,...,...,...,...
995,0,4,3,1,0,68,70,71
996,1,2,2,0,1,42,27,31
997,0,2,2,0,0,39,43,41
998,0,3,4,1,0,48,50,53
999,0,3,4,0,1,57,58,62

BUILDING A MODEL

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x=df.drop('writing score',axis=1)
y=df['writing score']

In [92]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2, random_state=0)

Linear Regression

In [93]:
from sklearn.linear_model import LinearRegression 

model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [94]:
prediction = model.predict(x_test)
prediction

array([46.48610774, 48.37175635, 20.48252496, 37.56601334, 52.05473404,
       48.23460063, 45.97546467, 16.90767649, 64.49766431, 11.9368957 ,
       27.72640176, 42.65452002, 58.60951166, 52.3881099 , 34.93093658,
       17.31581287, 22.93644176, 68.07150394, 29.99261647, 53.37337318,
       41.58497455, 35.13346491, 52.45859691, 33.68257258, 21.17702597,
       37.67228549, 29.55090966, 24.85434471, 43.71866424, 63.85900946,
       58.76329193, 60.66549769, 66.3171697 , 35.70624689, 37.2052496 ,
       53.96391765, 72.83479045, 36.83703454, 52.46202227, 48.44415965,
       38.79121952, 28.93721743, 44.23391142, 53.20044885, 55.87203216,
       38.98820038, 62.84578813, 38.35312864, 60.9812808 , 35.32900467,
       13.16518753, 35.31197009, 25.92223158, 29.49187639, 17.75983585,
       47.43744933, 29.70620971, 36.60447673, 51.22438413, 40.27992574,
       39.57939172, 58.36755016, 32.7792612 , 46.16455265, 40.60206958,
       40.72295979, 45.17097413, 29.6117097 , 47.68062148, 29.41626069,
       45.57868113, 58.66967995, 46.46656641, 47.63627713, 30.64994171,
       39.41800129, 42.14453455, 41.47456622, 11.27395807, 53.6081646 ,
       53.38164036, 62.82382097, 47.95102917, 57.16462955, 41.44928576,
       54.38808034, 36.83432542, 69.48900691, 52.9074723 , 34.37766308,
       50.78576241, 38.73210757, 39.58257828, 32.80103819, 49.71360928,
       44.08887576, 24.45630188, 46.39700899, 36.20485731, 37.98607139,
       27.07798182, 60.74920098, 35.95589667, 25.91238782, 46.74293774,
       56.7039926 , 50.61003432, 38.5716245 , 35.67016971, 64.15515033,
       50.24015191, 55.68151713, 11.34992502, 29.20063655, 46.87219604,
       50.28780957, 55.5814727 , 50.97253477, 55.7822764 , 39.96093024,
       31.437057  , 55.2469871 , 71.20574419, 52.75490666, 50.51700124,
       38.68285054, 44.76268822, 55.9962104 , 45.33949672, 40.55647665,
       40.64740287, 36.26407018,  3.40103195, 51.76690898, 65.93294964,
       36.88553159, 38.52738162, 39.35931927, 48.09664373, 52.26504141,
       47.5252899 , 43.16694205, 27.32903931, 34.13962589, 55.95861344,
       11.8990711 , 19.40787607, 18.16486527, 60.05999396, 60.17836684,
       23.61083312, 49.44042451, 74.97118926, 43.96656855, 57.09065981,
       57.00397762, 26.15222981, 33.87028525, 37.5229277 , 26.11234004,
       68.06012832, 31.86095919, 28.28595104, 64.75555064, 43.53776533,
       55.6608854 , 56.10132474, 41.81323606, 31.3573246 , 33.19212843,
       37.13317485, 46.39794986, 13.10273948, 45.98139678, 59.33859137,
       41.97712169, 44.56865752, 30.23291062, 77.45841729, 48.195677  ,
       41.41690468, 59.56844006, 43.41367785, 39.00529234, 60.51820507,
       39.35396607, 76.15340002, 75.49385437, 50.44151172, 18.5272497 ,
       24.21350098, 33.05310448, 24.28673354, 56.59083873, 30.68618776,
       32.96434491, 64.85778106, 57.22750697, 49.87878796, 40.25339585])

Checking accuracy of the model

In [95]:
print("Accuracy of linear regression classifier: ", model.score(x_test, y_test))

Accuracy of linear regression classifier:  0.9407707928294998

Decision tree

In [96]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [97]:
prediction = model.predict(x_test)
prediction

array([54, 44, 26, 34, 50, 46, 44, 22, 66, 13, 27, 43, 60, 50, 34, 15, 30,
       70, 17, 48, 42, 36, 40, 41, 24, 40, 39, 17, 38, 64, 58, 58, 68, 35,
       26, 50, 76, 45, 56, 50, 43, 32, 47, 48, 56, 42, 69, 36, 65, 36, 13,
       32, 31, 25, 23, 54, 29, 40, 53, 33, 42, 52, 27, 47, 43, 52, 45, 29,
       50, 33, 53, 61, 45, 43, 32, 39, 41, 41,  6, 58, 57, 63, 51, 68, 42,
       55, 35, 67, 53, 36, 56, 35, 49, 32, 47, 47, 32, 52, 34, 44, 31, 67,
       38, 30, 44, 56, 46, 42, 36, 66, 48, 55,  3, 30, 44, 56, 49, 58, 58,
       30, 27, 61, 70, 56, 48, 35, 45, 53, 44, 46, 35, 43,  6, 56, 69, 33,
       45, 42, 52, 62, 50, 40, 22, 28, 61, 10, 21, 23, 61, 54, 30, 54, 71,
       42, 54, 61, 26, 38, 33, 19, 64, 30, 26, 70, 41, 52, 53, 48, 35, 28,
       33, 45,  5, 45, 56, 42, 42, 17, 76, 46, 44, 57, 44, 39, 57, 39, 70,
       76, 48, 17, 30, 40, 30, 52, 36, 36, 64, 56, 42, 40])

In [98]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,prediction)
score

0.095

Logistic Regression

In [99]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=0)
model.fit(x_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [100]:
prediction = model.predict(x_test)
prediction

array([49, 39, 30, 28, 46, 38, 50, 30, 53, 13, 28, 71, 44, 50, 36, 30, 18,
       58, 38, 62, 38, 49, 68, 44, 30, 44, 39, 17, 49, 58, 58, 44, 63, 49,
       30, 39, 49, 44, 71, 50, 33, 32, 58, 71, 49, 50, 58, 42, 53, 49, 16,
       40, 36, 38, 30, 49, 30, 44, 53, 49, 49, 53, 30, 49, 36, 36, 44, 36,
       54, 19, 39, 76, 44, 58, 30, 44, 44, 44, 30, 58, 44, 49, 49, 58, 44,
       50, 49, 68, 54, 49, 71, 50, 63, 18, 38, 44, 18, 71, 49, 38,  8, 76,
       38, 46, 39, 58, 54, 49, 49, 53, 53, 76, 30, 30, 30, 30, 54, 52, 68,
       36, 49, 46, 58, 58, 44,  8, 30, 54, 33, 30, 44, 30, 13, 44, 58, 30,
       44, 44, 71, 44, 44, 50, 17, 38, 46, 19, 36, 38, 54, 44, 28, 43, 57,
       44, 58, 53, 30, 30, 50, 38, 49, 71, 41, 66, 53, 58, 57, 38, 30, 28,
       50, 76,  8, 76, 58, 30, 44, 38, 76, 38, 38, 49, 62, 44, 49, 44, 76,
       76, 49, 13, 19, 44, 28, 63, 36, 30, 58, 58, 68, 36])

In [101]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,prediction)
score

0.04